/* .App {
  text-align: center;
} */

.App{
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: #151515;
  color: white;
}


.App::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	/* background-color: #F5F5F5; */
}

.App::-webkit-scrollbar
{
	width: 12px;
	/* background-color: ; */
}

.App::-webkit-scrollbar-thumb
{
  border: 4px solid transparent;
  background-clip: padding-box;
  border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #ffffffb8;
}

p{
  margin: 0;
}

.first-line{
  margin-bottom: 2px;
}

.second-line{
  white-space: pre-line;
}

.group{
  margin-bottom: 10px;
}

span[contenteditable]#new-inp{
  margin: 0px 2px;
  outline: 0px solid transparent;
}

